torchvision==0.9.1
tabulate==0.8.9
overrides==3.1.0
opencv-contrib-python==4.5.1.48
pandas==1.2.4
allennlp==2.4.0
torchtext==0.9.1
torch=1.9.0
tqdm==4.60.0
pytesseract==0.3.8
urllib3==1.26.4
flask==1.1.2
